@import '~bootstrap/scss/bootstrap';

#map{
    height: 50vh; 
    width: 90vw; 
}

.map-container{
    overflow: clip;
}

#welcome-navbar{
    background-color: #121120;
}

body{
    background-color: #0C0B10;
}

nav{
    a{
        color: bisque !important;
        h3{
            color: white !important;
        }
    }
}

#welcome-container{
    h1{
        color: bisque;
    }
}

@media screen and (min-width: 992px) {
    #map { 
        height: 50vh; 
        width: 60vw; 
} 
}